<h1>{{ project_title }}</h1>

<style>
{{ style_defs }}
</style>

{% for node in nodes %}{{ node | as_html_fragment }}{% endfor %}

<div class="project-link-footer">
  <p>This is a
    <a href="https://github.com/bennorth/literate-git/">&lsquo;literate git&rsquo;</a>
    interactive document.</p></div>
