<div class="diff">
  {% for patch in diff %}
  <div class="patch">
  <!-- TODO: Handle 'rename' diffs -->
  <h4>{{ patch.delta.old_file.path }}</h4>
  {% for hunk in patch.hunks %}
  <table class="diff">
  {% for line in hunk.lines %}
  <tr class="{{ line | diff_line_classification }}">
    <td>{{ line.old_lineno | suppress_no_lineno }}</td>
    <td>{{ line.new_lineno | suppress_no_lineno }}</td>
    <td><pre>{{ line.content.rstrip() | e -}}</pre></td></tr>
  {% endfor %}
  </table>
  {% endfor %}
  </div>
  {% endfor %}
</div>
