table.diff { width: 100%; margin: 0px; }
table.diff tr:nth-child(1) td { padding-top: 0.3333ex; }
table.diff tr:nth-last-child(1) td { padding-bottom: 0.25ex; }
table.diff tr { width: 100%; }
table.diff tr td:nth-child(1),
table.diff tr td:nth-child(2) {
    width: 3em;
    padding-left: 1em;
    padding-right: 2em;
    text-align: right;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
table.diff tr td:nth-child(3) { width: 100%; }
table.diff tr.diff-del { background-color: #ffcaca; }
table.diff tr.diff-del td:nth-child(3) pre::before { content: '-'; }
table.diff tr.diff-add { background-color: #caffca; }
table.diff tr.diff-add td:nth-child(3) pre::before { content: '+'; }
table.diff tr.diff-unch { background-color: #f7f7f7; }
table.diff tr.diff-unch td:nth-child(3) pre::before { content: ' '; }
table.diff tr, table.diff tr:nth-child(2n) { padding: 0px; margin: 0px; border: none; }
table.diff tr td { padding: 0px; margin: 0px; border: none; }
table.diff tr td pre {
    line-height: 100%;
    padding: 2px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    background-color: inherit;
}
div.content > div.literate-git-node { display: none; }
div.literate-git-node,
div.literate-git-node > div.diff-or-children { position: relative; }

div.literate-git-node > h2.nav,
div.literate-git-node > div.diff-or-children > h2.nav {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    margin: 0px;
    width: 2em;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px; }

span.sec-num { margin-right: 0.75em; font-weight: normal; }
div.literate-git-node h2.nav.prev,
div.literate-git-node h2.nav.expand,
div.literate-git-node h2.nav.collapse { left: -96px; }
div.literate-git-node h2.nav.collapse { display: none; }
div.literate-git-node h2.nav.next { right: -80px; }
div.literate-git-node > div.diff-or-children > h2,
div.literate-git-node > h2 {
    margin-top: 2.25em;
    padding-top: 8px;
    padding-left: 24px;
    margin-left: -24px;
    background-color: #d0d0ff;
}
div.literate-git-node > div.diff-or-children > div.children
> div.literate-git-node { margin-left: 12px; }
div.literate-git-node > div.diff-or-children > div.children
> div.literate-git-node > h2 { font-size: 125%; background-color: #e0e0ff; }
div.literate-git-node > div.diff-or-children > div.children
> div.literate-git-node:nth-child(1) > h2 { margin-top: 8px; }
div.literate-git-node > div.diff-or-children > div.children
> div.literate-git-node > h2 { margin-top: 7.5ex; }

div.literate-git-node p.links { margin-top: 2ex; text-align: right; font-size: 90%; }
div.literate-git-node p.links span {
    color: #222;
    padding: 4px;
    background-color: #8e8;
    border: 2px solid #6a6;
}
div.literate-git-node p.links a { margin-left: 2em; }
div.literate-git-node p.links a:hover { text-decoration: none; }

div.literate-git-node h2.nav { cursor: pointer; }

div.expand-collapse { background-color: #ccf; padding: 8px; text-align: center; }
div.expand-collapse p { margin: 0px; }

div.literate-git-node > div.diff-or-children { margin-top: 5ex; }

div.literate-git-node > div.diff-or-children > div.children { display: none; }

div.literate-git-node h4 {
    padding: 8px 8px 8px 12px;
    margin-left: -12px;
    margin-top: 0px;
    font: 100% Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: bold;
    background-color: #e8e8e8;
}

div.diff > div.patch { margin-top: 5ex; }
div.diff > div.patch:nth-child(1) { margin-top: 0px; }

p.inter-hunk {
    text-align: center;
    font-size: 125%;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}
