<div class="literate-git-node" data-commit-sha1="{{ node.commit.oid }}"><h2>{{ node.title }}</h2>

<pre>{{ node.message_body | e }}</pre>

<div class="diff">{{ node.diff | as_html_fragment }}</div>

{% for ch in node.children %}{{ ch | as_html_fragment }}{% endfor %}
