<html>
  <head><title>My cool project</title>
    <link rel="stylesheet" type="text/css" media="all" href="./github-markdown.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="./literate-git.css"/>
  </head>

  <body>
  <div class="content markdown-body">{{ content }}</div>
  </body>
</html>
