<!DOCTYPE html>
<html lang="en">
  <head><meta charset="utf-8"/>
    <title>{{ project_title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="./github-markdown.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="./literate-git.css"/>
    <script src="jquery-3.0.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.0.4"></script>
    <script src="literate-git.js"></script>
    <style>{{ style_defs }}</style>
  </head>

  <body>
  <div class="content markdown-body">{{ content }}
    <div class="nav-tooltip" id="tooltip-next"><div class="tooltip-arrow" data-popper-arrow></div><p>Use this button to advance to the next section in the history.</p><p class="dismiss noselect"><span>DISMISS</span></p></div>
    <div class="nav-tooltip" id="tooltip-previous"><div class="tooltip-arrow" data-popper-arrow></div><p>Use this button to go back to the previous section in the history.</p><p class="dismiss noselect"><span>DISMISS</span></p></div>
    <div class="nav-tooltip" id="tooltip-expand"><div class="tooltip-arrow" data-popper-arrow></div><p>Use this button to expand the section and see more detail about the steps.</p><p class="dismiss noselect"><span>DISMISS</span></p></div>
    <div class="nav-tooltip" id="tooltip-collapse"><div class="tooltip-arrow" data-popper-arrow></div><p>Use this button to collapse the details of this section and see just a summary.</p><p class="dismiss noselect"><span>DISMISS</span></p></div>
  </div>
  </body>
</html>
